@use 'theme' as *;

$badge-background-color: #f3f4f6;
$badge-text-color: $text-color;

$badge-primary-background-color: $primary;
$badge-primary-text-color: white;

$badge-success-background-color: $success;
$badge-success-text-color: white;
$badge-success-border-color: $success;

$badge-warning-background-color: $warning;
$badge-warning-text-color: white;
$badge-warning-border-color: $warning;

$badge-danger-background-color: $danger;
$badge-danger-text-color: white;
$badge-danger-border-color: $danger;

$badge-info-background-color: $info;
$badge-info-text-color: white;
$badge-info-border-color: $info;
