@forward 'theme';
@forward 'typography';
@forward 'badge';

@use 'typography';
@use 'badge';
@use 'theme' as *;

section {
  margin: 0 2rem;
  margin-bottom: $spacing-xl;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media (max-width: 768px) {
  section {
    margin: 0 1rem;
    margin-bottom: $spacing-lg;
  }
}
