@forward 'theme';
@forward 'typography';
@forward 'badge';

@use 'typography';
@use 'badge';
@use 'theme' as *;

section {
  margin: 0 2rem;
  margin-bottom: $spacing-xl;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media (max-width: 768px) {
  section {
    margin: 0 1rem;
    margin-bottom: $spacing-lg;
  }
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: $spacing-md;

  &.different-sizes {
    & > :first-child {
      flex: 2;
    }

    & > :nth-child(2) {
      flex: 1;
    }
  }

  @include responsive(mobile) {
    flex-direction: column;
  }
}
